# Exercise

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [4]:
path = r'/Users/stadtsalat/Documents/Instacart Basket Analysis'

In [5]:
# Importing 'orders_products_merged.pkl'

df_orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [6]:
# Creating a smaller subset
df = df_orders_products_merged[:1000000]

In [7]:
# If statement with creating a function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [8]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/3y/p4952z696432py_v1pq1tc6h0000gn/T/ipykernel_41279/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [10]:
df['prices'].max()

14.8

In [11]:
# If statetement with loc
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [18]:
# If statement with for loop
df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [19]:
result = []

In [21]:
for value in df_orders_products_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [22]:
df_orders_products_merged['busiest_day'] = result

In [23]:
df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [24]:
df_orders_products_merged.shape

(32404859, 17)

# Task

QN 1 is done

In [25]:
# QN2 -- Our clients want to have a column with the 2 busiest days of the week and one with the 2 slowest days
# We already know the that the 2 busiest days are 0 and 1 (Saturday and Sunday) and the 2 slowest are 3 and 4 tuesday and Wednesday

In [30]:
results = []

In [31]:
for value in df_orders_products_merged['orders_day_of_week']:
    if value == 0 or value == 1:
        results.append('Busiest days')
    elif value == 3 or value == 4:
        results.append('Slowest days')
    else:
        results.append('Regulary busy days')

In [32]:
df_orders_products_merged['Busiest_days'] = results

In [33]:
# QN3 -- Check the values of this new column
df_orders_products_merged['Busiest_days'].value_counts(dropna = False)

Regulary busy days    12916111
Busiest days          11864412
Slowest days           7624336
Name: Busiest_days, dtype: int64

In [35]:
df_orders_products_merged.head(1)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_days
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days

In [38]:
# QN4 First we need to find the busiest hours of the day
df_orders_products_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [52]:
# Now we can split the hours of the day in three categories “Most orders,” “Average orders,” and “Fewest orders.”
result1 = []

In [53]:
for value in df_orders_products_merged['order_hour_of_day']:
    if value>=9 and value<=16:
        result1.append('Most orders')
    elif value<=6:
        result1.append('Fewest orders')
    else:
        result1.append('Average orders')

In [54]:
df_orders_products_merged['busiest_period_of_day'] = result1

In [55]:
# QN 5 -- Print the frequency for this new column
df_orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders    10399967
Fewest orders       886821
Name: busiest_period_of_day, dtype: int64

In [56]:
# QN 7 -- Exporting to PKL
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_new.pkl'))